/*Hero Photo that is covered by nav bar and welcome message */

.hero {
  height: 550px;
  background: url(/Users/davidrolfs/Desktop/davidrolfs.com/img/mthood.jpeg);
  background-size:100%;
  background-repeat: no-repeat;
}

/* Header */

.header{
  padding: 10px 0;
	background: rgba(0,0,0,.5);
  width:inherit;

}

.nav li {
  display:inline-block;
  font-size: 20px;
  float:right;
  margin-right: 20px;
}

.nav li a {
  color:white;
  text-decoration: none;
}

.nav li a:hover {
  color: yellow;
}


/*Welcome message over hero photo*/
.welcome h1{
  text-align: center;
  margin-top: 110px
}
