body {
  /* YOUR TURN: Type a different color instead of gray to change the background */
  background-color: white;
  font-family: "Lato";
  color: black;
}

.centered {
    text-align: center;
}

.header {
  padding-top:140px;
}

h1{
  font-size: 44px;
}

img{
  width: 50%;
  border-radius: 50%;
}

/*Contact css */
#contact-photo{
  height: 1000px;
  background: url(/Users/davidrolfs/Desktop/davidrolfs.com/img/moon.jpeg);
  background-size:100%;
  background-repeat: no-repeat;
}

h1 {
  color:white;
}
